h1 {
    text-align: center;
}

.App {
    left: 0;
    bottom: 0;
    position: absolute;
}

.btn-close {
    width: 10px !important;
    margin-left: 332px !important;
}

.feedback {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #f7f2f2;
}